@page
@{
    ViewData["Title"] = "WEB1001 - Web Application - A00133304";
}

<div>
    <h3>REKELL CARAAN</h3>
</div>
<div>
    <form method="post">
        <div>
            Input 1: <input type="number" name="input1" />
        </div>
        <div>
            Input 2: <input type="number" name="input2" />
        </div>
        <div>
            Output: <output typeof="int" name="output" />
        </div>
        <div>
            <input type="button" name="Submit" value="Submit" />
        </div>
    </form>
</div>
<div>
    @section IntroTextParagraph{
        This assignment is due July 21st, 2022 at 11:59 PM. This assignment is to be submitted as a Github link in a text file. There is also a comment available on the submission page, please put the link in there also.
        This assignment is worth 10% of your overall mark.
        Please refer to the Rubric for the details of the assignment.
        All late submissions will have a 30% penalty applied.
    }
</div>
