@page
@{
}

<h3>REKELL CARAAN</h3>


@section IntroTextParagraph{
    This assignment is due July 21st, 2022 at 11:59 PM. This assignment is to be submitted as a Github link in a text file. There is also a comment available on the submission page, please put the link in there also.
    This assignment is worth 10% of your overall mark.
    Please refer to the Rubric for the details of the assignment.
    All late submissions will have a 30% penalty applied.
}